.iqs-operational-event-add-panel {
    width: 100%;
    @include flex();
    @include flex-direction(column);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.iqs-empty-template {
    height: 72px;
    min-height: 72px;
    line-height: 72px;
    vertical-align: middle;
    text-align: center;
}